<div class="order-detail-container">
  <div>
      <button mat-raised-button color="primary" routerLink="/order">Regresar</button>
  </div>
    <div class="order-header">

        <div class="">
         <label class="order-edit-label">Order Date:</label>
          <label class=""> &nbsp; {{orderItem.orderDate | date:'dd/MM/yyyy' }}</label>
        </div>
        <div class="">
          <label class="order-edit-label">Customer Name:</label>
           <label class=""> &nbsp; {{orderItem.customer}}</label>
         </div>
         <div class="">
          <label class="order-edit-label">Total Amount:</label>
           <label class=""> &nbsp; {{orderItem.totalAmount }}</label>
         </div>

    </div>

    <div>
      <app-table-view #tableView [items]="orderItem.orderDetails" [columns]="detailColumns">
     
      </app-table-view>
    </div>
</div>