.centerLogin{
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    max-height: 100%;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}